/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2017, 10:05:56 PM
    Author     : Koustabh
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2017, 10:46:56 AM
    Author     : Koustabh
*/
body {
    margin: 0px;
    background: url('knjige.jpg');
}

.maindiv {
    width: 99.8%;
    height: 90px;
    background: #7fffd4;
}

.header {
    float: left ;
    width: 400px;
    height: 90px;
    color: goldenrod ;
    text-shadow: 3px 3px 3px grey; 
    margin-left: 32%;
}

.logmaindiv {
    float: right ; 
    width: 300px;
    height: 90px ;
}

.logdiv {
    float: left ; 
     
   margin-right: 20%;
   
}



.body1 {
    float: left;
    width: 600px;
   
    margin-left: 28%;
    margin-top: 2%;
    background-color: #FFF ;
    
    
}

.st1 {
    color: goldenrod ;
    font-size: 16px ;
    margin-left: 190px;
}

.text {
    border-radius: 6px;
    font-size: 14px;
    margin-left:  150px;
    height: 60px;
    width: 280px;
}

.st2 {
    color: goldenrod ;
    font-size: 16px ;
      margin-left:  190px;
}

.opt1 {
    border-radius: 6px;
    font-size: 14px;
    margin-left:  150px;
    height: 60px;
    width: 280px;
}

.st3 {
    color: goldenrod ;
    font-size: 16px ;
      margin-left:  190px;
}

.opt2 {
    border-radius: 6px;
    font-size: 14px;
    margin-left:  150px;
    height: 60px;
    width: 280px;
}

.st4 {
    color: goldenrod ;
    font-size: 16px ;
     margin-left:  190px;
}

.opt3 {
    border-radius: 6px;
    font-size: 14px;
     margin-left:  150px;
    height: 60px;
    width: 280px;
}

.st5 {
    color: goldenrod ;
    font-size: 16px ;
    margin-left:  190px;
}

.opt4 {
    border-radius: 6px;
    font-size: 14px;
     margin-left:  150px;
    height: 60px;
    width: 280px;
}

.st6 {
    color: goldenrod ;
    font-size: 16px ;
    margin-left:  190px;
}

.ans {
    border-radius: 6px;
    font-size: 14px;
    margin-left:  150px;
    height: 60px;
    width: 280px;
}

.last{
    margin-left: 250px;
}

.sub4 {
    background: aqua;
    color: #333;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 4px 4px 4px grey;
   
}

.sub4:hover {
    background: #0F9;
    box-shadow: 2px 2px 2px grey;
     
}